[include]
	path = ~/.gitconfig.private

[alias]
	s = status
	co = checkout
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

	# view unpushed commit
	view-unpushed = git log origin/master..HEAD

	# diff unpushed commit
	diff-unpushed = git diff origin/master..HEAD

	# Unstage changes from the index
	unstage = reset HEAD --

	# We wanna grab those pesky un-added files!
	stash-all = stash save --include-untracked

	# add all files, commit and push
	push-fast = "!f(){ git add . && git commit -m \"$1\" && git push; };f"

	stash-diff = "!f(){ git stash show -p stash@{$1}; };f"

	# smart chekcout: stash changes, checkout branch, pop from stash
	smart-checkout = "!f(){ git stash && git checkout \"$1\" && git stash pop; };f"

	showtool = "!f() { git difftool $1^ $1; }; f"
	added = difftool --cached

[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

# A nice little github-like colorful, split diff right in the console.
# brew install icdiff
# via http://owen.cymru/github-style-diff-in-terminal-with-icdiff/
[diff]
	tool = vimdiff
[difftool]
  prompt = false
[difftool "icdiff"]
	cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE
[pager]
	difftool = true

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
	insteadOf = gist:

[core]
  excludesfile = /Users/berkincirak/.gitignore_global
  editor = vim
  autocrlf = input

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red
[user]
	name = berkin
	email = berkin@kuyabiye.com


